<!DOCTYPE html>
<html>
<head>
<title>TooPots</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="/common/navbar" >...</div>
	<div class="container">
		<h1>TooPots</h1>
		
		<h2>Pruebas de la Aplicación</h2>
		<ul>
			<li><a href="cliente/list">Prueba la aplicación listando los clientes que hay en la base de datos</a></li>
			<li><a href="monitor/list">Prueba listado monitores + operaciones add/update/delete</a></li>
		</ul>
		
		<h2> Provando PreferenciasCliente </h2>
		<ul>
			<li><a href="preferenciascliente/list">Listar PreferenciasCliente</a></li>
			<li><a href="preferenciascliente/add">Añadir PreferenciasCliente</a></li>
		</ul>
		
		<h2> Provando Reserva </h2>
		<ul>
			<li><a href="reserva/list">Listar Reserva</a></li>
			<li><a href="reserva/add">Añadir Reserva</a></li>
		</ul>
		
		<h2> Provando CertificiacionesTipoActividad </h2>
		<ul>
			<li><a href="certificacionestipoactividad/list">Listar CertificacionesTipoActividad</a></li>
			<li><a href="certificacionestipoactividad/add">Añadir CertificacionesTipoAcitvidad</a></li>
		</ul>
		<h2> Logueate </h2>
		<ul>
			<li><a href="login">Log in</a></li>
		</ul>
		
		<footer>
			<h1>Estoy en "templates/common", no en "static"!!!!</h1>
			<h3>Sí, por eso no salen los cambios</h3>
		</footer>
	</div>
</body>
</html>
