<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>

<div th:replace="/common/navbar" >...</div>
  
<div class="w3-row">
<form th:action="@{/login}" th:object="${user}" method="post">
    <div class="w3-col w3-container m6">
      <div class="w3-card-4" style="width:65%;margin-top: 20%;margin-left: 35%">
        <header class="w3-container">
          <h5 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-wide w3-center">Ya estoy registrado</h5>
        </header>
		
        <div class="w3-container">
            <label class="w3-margin-top w3-wide" >Email</label>
            <input type="email" name="email" class="form-control input_user w3-input w3-section w3-border" th:field="*{email}" placeholder="your@email.com">
            
        </div>
        
        <div class="w3-container">
            <label class="w3-margin-top w3-wide" >Contraseña</label>
            <input type="password" name="" class="form-control input_pass w3-input w3-section w3-border" th:field="*{password}" placeholder="password">
        </div>
        
        <div class="w3-container" style="margin-top: 12%">
            <input type="submit"  value="Iniciar sesion" class="w3-button w3-block w3-light-grey w3-margin-bottom w3-wide w3-padding-large">
        </div>
        
      </div>
    </div>
</form>
    <div class="w3-col w3-container m6">
      <div class="w3-card-4" style="width:65%;margin-top: 20%;">
        <header class="w3-container">
          <h5 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-wide w3-center">Soy nuevo</h5>
        </header>

        <div class="w3-container w3-center" style="margin-top: 6%">
          <p>¡Crea una cuenta con tan solo rellenar un par de datos!</p>
        </div>
        
        <div class="w3-container">
            <a href="../cliente/add" class="w3-button w3-padding-large w3-block w3-black w3-margin-bottom w3-wide w3-padding-large" style="margin-top: 5%">Registrar</a>
        </div>
        
        <div class="w3-container w3-center" style="margin-top: 5%"><p>o</p></div>
        
        <div class="w3-container w3-center" >
          <p>¡Únete a nosotros y trabaja como monitor!</p>
        </div>
        
        <div class="w3-container" style="margin-top: 5%">
            <a href="../monitor/add" class="w3-button w3-block w3-light-blue w3-margin-bottom w3-wide w3-padding-large">Registrarse como monitor</a>
        </div>
     
      </div>
    </div>
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16 w3-display-bottommiddle" style="width: 100%;margin-top: auto;">
  <p>Powered by Universistat Jaume I</p>
</footer>
      
       
</body>
</html>