<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
		.navbar {
	      padding: 0 15px;
	      margin: 0 -15px;
	    }

  </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" th:if="${session.user!=null}">
		<a class="navbar-brand" href="/">Home</a>
	
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
	        <ul class="navbar-nav">
	            <li class="nav-item my-2" th:each="link : ${session.links}">
	            	<a class="nav-link my-2" th:href="@{/{linkn}(linkn=${link.name})}" th:text="${link.name}"><b>Home</b>
	            	</a>
	            </li>
	        </ul>
		</div>
</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-between" th:if="${session.user==null}">
	
	<a href="/login" class="btn btn-outline-success my-2 my-sm-0 btn-primary ml-4">Log In</a>
	
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item my-2" ><a class="nav-link my-2" href="/" th:href="@{/}"><b>Home</b></a></li>
            <li class="nav-item my-2" ><a class="nav-link my-2" href="/" th:href="@{/actividad/list}"><b>Actividades</b></a></li>
        </ul>
	</div>
	
	<a href="/singup" class="btn btn-outline-success my-2 my-sm-0 btn-primary mr-4">Sing up</a>
		
</nav>

</body>
</html>