<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Template</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<div th:replace="/common/navbar" >...</div>
	<select th:field="*{rol}" onchange="changeFunc(value);">
		<option th:value="None" th:text="Seleccionar_rol" selected></option>
	    <option th:value="cliente" th:text="Cliente"></option>
	    <option th:value="monitor" th:text="Monitor"></option>
	</select>
	
	<script>
		
		function changeFunc($i) {
			var monitorForm = document.getElementById("MonitorForm");
			console.log($i);
			if($i == "monitor"){
				monitorForm.style.visibility = "visible";
			}else{
				monitorForm.style.visibility = "hidden";
			}
	   }
	</script>
	
	
	<form action="#" th:action="@{/monitor/add}"
	      th:object="${monitor}" method="post"
	      th:if="${rol=='None'}" id="MonitorForm">
	       
	    	<div class="input-group mb-3">
		        <label class="col-sm-1 col-form-label">DNI</label>
		        <div class="col-sm-11">
		         	<input class="form-control" type="text" th:field="*{id}" minlength="9" maxlength="9" required/>
		        </div>
	        </div>
	        
	        <div class="input-group mb-3">
		        <label class="col-sm-1 col-form-label" >Nombre</label>
		        <div class="col-sm-11">
		        	<input class="form-control" type="text" th:field="*{nombre}" maxlength="25" required/>
		       </div>
		    </div>
	        
	         <div class="input-group mb-3">
		        <label class="col-sm-1 col-form-label">Email</label>
		        <div class="col-sm-11">
		        	<input class="form-control" type="email" th:field="*{email}" required />
		        </div>
		     </div>
	        
	        <div class="input-group mb-3">
		        <label class="col-sm-1 col-form-label">Iban</label>
		        <div class="col-sm-11">
		        	<input class="form-control" type="text" th:field="*{iban}" maxlength="50" required/>
		        </div>
		     </div>
	        
	         <div class="input-group mb-3">
		        <label class="col-sm-1 col-form-label">Estado</label>
		        <div class="col-sm-11">
		        	<select class="form-control" th:field="*{estado}" required>
		                <option th:value="'aceptada'" th:text="Aceptada"></option>
		                <option th:value="'rechazada'" th:text="Rechazada"></option>
		                <option th:value="'pendiente'" th:text="Pendiente"></option>
		            </select>
	       		</div>
	       	</div>
	        
	        <div class="input-group mb-3">
		        <label class="col-sm-1 col-form-label">Domicilio</label>
		        <div class="col-sm-11">
		        	<input class="form-control" type="text" th:field="*{domicilio}" maxlength="60" required/>
		        </div>
	        </div>
	        
	        
	        <input type="submit" class=" btn btn-success" value="Añadir monitor" />
	        
	       	
	</form>
</body>

</html>