<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Template</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<div th:replace="/common/navbar" >...</div>
	
	<div class="input-group mb-5"style="display: none">		
		<div class="col-sm-3"></div>
     	<label class="col-sm-1 col-form-label">Rol:</label>
     	<div class="col-sm-5">
    		<select th:field="*{rol}" onchange="changeFunc(value);" class="form-control" id="rolSelector">
		    
			    <option th:value="monitor" th:text="Monitor" selected></option>
	
			</select>
    	</div>
    	<div class="col-sm-3"></div>
    </div>	
	
	<script>
		var selector = document.getElementById("rolSelector");
		selector.value = "cliente";
	
		function changeFunc($i) {
			var monitorForm = document.getElementById("MonitorForm");
			var clientForm = document.getElementById("ClientForm");
			if($i == "monitor") {
				monitorForm.style.display = "block";
				clientForm.style.display = "none";
			}else if ($i == "cliente") {
				monitorForm.style.display = "none";
				clientForm.style.display = "block";
			}else{
				monitorForm.style.display = "none";
				clientForm.style.display = "none";
			}
	   }
	</script>
	
	
	<form action="#" th:action="@{/monitor/add}"
	      th:object="${monitor}" method="post"
	      th:if="${rol=='None'}" id="MonitorForm"
	      style="display: none;" enctype="multipart/form-data">
	      
	      	<div class="input-group mb-3">
	         	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Email</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="email" th:field="*{email}" required />
		        </div>
		        <div class="col-sm-3"></div>
		     </div>
		     
		     <div class="input-group mb-3">
	         	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Contraseña</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="password" th:field="*{passwd}" required />
		        </div>
		        <div class="col-sm-3"></div>
		     </div>
	       
	    	<div class="input-group mb-3">
	    		<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">DNI</label>
		        <div class="col-sm-5">
		         	<input class="form-control" type="text" th:field="*{id}" minlength="9" maxlength="9" required/>
		        </div>
		        <div class="col-sm-3"></div>
	        </div>
	        
	        <div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label" >Nombre</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="text" th:field="*{nombre}" maxlength="25" required/>
		       </div>
		       <div class="col-sm-3"></div>
		    </div>
	        
	        <div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Iban</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="text" th:field="*{iban}" maxlength="50" required/>
		        </div>
		        <div class="col-sm-3"></div>
		     </div>
	        
	        <div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Domicilio</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="text" th:field="*{domicilio}" maxlength="60" required/>
		        </div>
		        <div class="col-sm-3"></div>
	        </div>
	        
	        <div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
            	<label class="col-sm-1 col-form-label">Curriculum</label>
            	<div class="col-sm-5">
                	<input type="file" name="file" id="file" required/>
            	</div>
            	<div class="col-sm-3"></div>
			</div>
	        
	        <div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
	        	<a class=" btn btn-danger col-sm-1" href="/"> Cancelar </a>
	        	<div class="col-sm-4"></div>
	        	<input type="submit" class=" btn btn-success col-sm-1" value="Añadir monitor" />
	        </div>
	       	
	</form>
	
	
	<form action="#" th:action="@{/cliente/add}"
	      th:object="${cliente}" method="post"
	      th:if="${rol=='None'}" id="ClientForm">
	       
	         <div class="input-group mb-3">
	         	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Email</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="email" th:field="*{email}" required />
		        </div>
		        <div class="col-sm-3"></div>
		     </div>
	       
	       	 <div class="input-group mb-3">
	         	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Contraseña</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="password" th:field="*{passwd}" required />
		        </div>
		        <div class="col-sm-3"></div>
		     </div>
	       
	    	<div class="input-group mb-3">
	    		<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">DNI</label>
		        <div class="col-sm-5">
		         	<input class="form-control" type="text" th:field="*{dni}" minlength="9" maxlength="9" required/>
		        </div>
		        <div class="col-sm-3"></div>
	        </div>
	        
	        <div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label" >Nombre</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="text" th:field="*{nombre}" maxlength="25" required/>
		       </div>
		       <div class="col-sm-3"></div>
		    </div>
	        
	        <div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Nacimiento</label>
		        <div class="col-sm-5">
		        	<input class="form-control" type="date" th:field="*{strFechaNacimiento}" required/>
		        </div>
		        <div class="col-sm-3"></div>
		     </div>
	        
	         <div class="input-group mb-3">
	         	<div class="col-sm-3"></div>
		        <label class="col-sm-1 col-form-label">Genero</label>
		        <div class="col-sm-5">
		        	<select class="form-control" th:field="*{sexo}" required>
		                <option th:value="'Masculi'" th:text="Hombre"></option>
		                <option th:value="'Femeni'" th:text="Mujer"></option>
		            </select>
	       		</div>
	       		<div class="col-sm-3"></div>
	       	</div>
	       	
	       	<div class="input-group mb-3">
	        	<div class="col-sm-3"></div>
	        	<a class=" btn btn-danger col-sm-1" href="/"> Cancelar </a>
	        	<div class="col-sm-4"></div>
	        	<input type="submit" class=" btn btn-success col-sm-1" value="Añadir cliente" />
	        </div>
       	</form>
	
</body>

</html>