<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>
<body>
	<div th:replace="/common/navbar" >...</div>
	
	<div class="container">
		<div class="w3-container">
	        <h1 class="w3-border-bottom w3-border-light-grey w3-padding-64 w3-margin-top"> <b>Problema</b> </h1>
	    </div>
	    
		<div class="w3-panel w3-red w3-border ">
	  		<div class="w3-container">
	        	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-margin-top">Registro ya existente</h3>
	        	
	        	<p>El DNI introducido ya está registrado en la aplicación</p>
	  			<p>Presione el botón para acceder al login y volver a probar con otro DNI</p>
	  		
	  			<a href="/cliente/add" class="w3-button w3-round w3-medium w3-green w3-text-white w3-hover-green w3-margin-bottom w3-margin-top"> Acceder </a>
	    	</div>
	  	
		</div>
	</div>
	
</body>

</html>