<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<div th:replace="/admin/navbar" >...</div>
	<div class="jumbotron jumbotron-fluid">
	 <div class="container">
	    <h1>Administrador</h1>      
	    <p>Acaba de entrar como administrador, aquí puede hacer: </p>
	    <p>  - Revisar i acceptar o rebutjar sol·licituds de registre de monitors. TooPots haurà de generar una ordre per al servidor de correu per a que aquest envie un mail al monitor informant-li  si la seua sol·licitud ha sigut aceptada o no.</p>	
		<p> - Consultar els documents que els monitors adjunten en les sol·licituds per a acreditar les seues capacitats. Els alumnes han de pensar la manera que els monitors puguen enllaçar els documents (que estan en format pdf o imatge) y han d'avaluar i proposar una solució adequada.  </p>	
		<p>	- Gestionar informació del tipus d’activitats i nivells que es poden oferir.</p>	
		<p>	- Assignar els tipus d’activitats a cada monitor tenint en compte les certificacions aportades. </p>	
		<p>	- Consultar informació sobre monitors donats d’alta, clients i activitats reservades i contractades, activitats més o menys demandades, etc. </p>	
	  </div>
	</div>
</body>

</html>