<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añade una nueva reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="/common/navbar" >...</div>
<div class="container">
<h2>Nueva reserva</h2>
<form th:action="@{/reserva/add}"
      th:object="${reserva}" method="post">
    
       		<div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">ID_Reserva</label>
            <div class="col-sm-11">
            <input class="form-control" type="number" th:field="*{id_reserva}" maxlength="10"/>
        		</div>
        		</div>
        		
        		<div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">Pagado</label></td>
             <div class="col-sm-11">
            <input class="form-control" type="text" th:field="*{estadoPago}" maxlength="9"/>
        		</div>
        		</div>
        
        		<div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">Fecha</label>
             <div class="col-sm-11">
            <input class="form-control" type="date" th:field="*{fecha}"/>
        		</div>
        		</div>
        		
        		<div class="input-group mb-3">
           	<label class="col-sm-1 col-form-label">Numero de asistentes</label>
           	 <div class="col-sm-11">
            <input class="form-control" type="number" th:field="*{numAsistentes}" />
            </div>
        		</div>
        
        		<div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">Precio por persona</label>
             <div class="col-sm-11">
            <input class="form-control" type="number" th:field="*{precioPersona}" />
            </div>
        		</div>
        
        		<div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">Numero de Transacciones</label>
             <div class="col-sm-11">
            <input class="form-control" type="number" th:field="*{numTransacciones}" />
            </div>
        		</div>
        
         	<div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">ID_Actividad</label>
             <div class="col-sm-11">
            <input class="form-control" type="number" th:field="*{id_actividad}" />
            </div>
        		</div>
        
         	<div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">DNI</label>
             <div class="col-sm-11">
            <input class="form-control" type="text" th:field="*{dni}" maxlength="9"/>
            </div>
        		</div>
        
        
            <input type="submit" class=" btn btn-success"  value="Añade reserva" />
        
   
</form>
</div>
</body>
</html>
