<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añade una nueva reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div th:replace="/common/navbar" >...</div>
<h2>Nueva reserva</h2>
<form th:action="@{/reserva/add}"
      th:object="${reserva}" method="post">
      
     <div class="container ">
            <div class="w3-container">
          		<h1 class="w3-border-bottom w3-border-light-grey w3-padding-32 w3-margin-top">Reservar</h1>
      		</div>
      		
             <div class="w3-container">
                <label for="city">DNI de la persona solicitante</label>
                <input class="w3-input w3-section w3-border"  type="text" th:field="*{dni}" maxlength="50" placeholder="Ejemplo: 12345678L" required>
            </div>
            

            <div class="w3-container">
                <label for="asistentes">Numero de asistentes</label>
                <input class="w3-input w3-section w3-border" type="number" th:field="*{numAsistentes}" required>

            </div>

            <div class="w3-container">
                <label for="nombre">Precio por persona</label>
                <input class="w3-input w3-section w3-border" type="number" th:field="*{precioPersona}" disabled="disabled">

            </div>

            <div class="w3-container">
                <label for="transacción">Numero de Transaccion</label>
                <input class="w3-input w3-section w3-border" type="number" th:field="*{numTransacciones}" placeholder="Ejemplo: ES12345678900987654321" required>
            </div>

           
          
            <div class="w3-container">
                <input type="submit" class="w3-btn w3-pale-green w3-margin-top w3-margin-bottom w3-margin-right w3-hover-green" value="Reservar"/>
                <a href="../login" class="w3-btn w3-pale-red w3-margin-top w3-margin-bottom w3-text-black w3-hover-red"> Volver</a>
        
            </div>
        </div>
</form>
</body>
</html>
