<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añade una nueva reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="/common/navbar" >...</div>
<h2>Nueva reserva</h2>
<form th:action="@{/reserva/add}"
      th:object="${reserva}" method="post">
    <table>
        <tr>
            <td><label>ID_Reserva</label></td>
            <td><input type="number" th:field="*{id_reserva}" maxlength="10"/></td>
        </tr>
        <tr>
            <td><label>Pagado</label></td>
            <td><input type="text" th:field="*{estadoPago}" maxlength="9"/></td>
        </tr>
        <tr>
            <td><label>Fecha</label></td>
            <td><input type="date" th:field="*{fecha}"/></td>
        </tr>
        <tr>
            <td><label>Numero de asistentes</label></td>
            <td><input type="number" th:field="*{numAsistentes}" /></td>
        </tr>
        <tr>
            <td><label>Precio por persona</label></td>
            <td><input type="number" th:field="*{precioPersona}" /></td>
        </tr>
        <tr>
            <td><label>Numero de Transacciones</label></td>
            <td><input type="number" th:field="*{numTransacciones}" /></td>
        </tr>
         <tr>
            <td><label>ID_Actividad</label></td>
            <td><input type="number" th:field="*{id_actividad}" /></td>
        </tr>
         <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" maxlength="9"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añade reserva" /></td>
        </tr>
    </table>
</form>
</body>
</html>
