<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Monitores</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<div th:replace="/common/navbar" >...</div>

<div th:if="${#lists.isEmpty(monitores)}">
    No hay monitores en la base de datos
</div>
<div class="container">
	<div class="w3-container w3-padding-64" id="projects">
    	<h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center w3-wide">Listado de monitores</h1>
    	
    	<form class="form-inline w3-margin-top" action="#" th:action="@{/monitor/list}">
    		<input class="form-control" type="search" name="busca" placeholder="Busqueda por nombre">
    		<input class="form-control" type="number" name="pen" th:value=${pen} placeholder="Busqueda por nombre" hidden>
    		<input class="w3-button w3-small w3-black w3-text-white w3-hover-light-grey w3-margin-left " type="submit" value="Buscar"> 
 
    	</form>
    	
    	
    </div>	  
	<table th:unless="${#lists.isEmpty(monitores)}" class="table table-striped">
	    <thead>
	    <tr>
	        <th>Dni</th>
	        <th>Nombre</th>
	        <th>Domicilio</th>
	        <th>Email</th>
	       <!--   <th>Iban</th> -->
	        <th>Estado</th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr th:each="monitor: ${monitores}" th:class="${#strings.startsWith(monitor.nombre.toLowerCase(),busca)}? 'w3-blue-grey'">
	    
	        <td th:text="${monitor.id}"></td>
	        <td th:text="${monitor.nombre}" ></td>
	        <td th:text="${monitor.domicilio}" ></td>
	        <td th:text="${monitor.email}" ></td>
	        <td th:text="${monitor.iban}" hidden="hidden" ></td>
	        <td th:text="${monitor.estado}" ></td>
	        
	  <!--  <td th:text="${monitor.id}" th:class="${strings.equals(busca,monitor.id)}? 'bg-secondary text-blue'"></td>
	        <td th:text="${monitor.nombre}" th:class="${strings.equals(busca,monitor.nombre)}? 'bg-secondary text-blue'"></td>
	        <td th:text="${monitor.domicilio}" th:class="${strings.equals(busca,monitor.domicilio)}? 'bg-secondary text-blue'"></td>
	        <td th:text="${monitor.email}" th:class="${strings.equals(busca,monitor.email)}? 'bg-secondary text-blue'"></td>
	        <td th:text="${monitor.iban}" th:class="${strings.equals(busca,monitor.iban)}? 'bg-secondary text-blue'"></td>
	        <td th:text="${monitor.estado}"th:class="${strings.equals(busca,monitor.estado)}? 'bg-secondary text-blue'"></td>
	   -->
	
			<td><a class="w3-button w3-round w3-medium w3-pale-blue w3-text-black w3-hover-blue" th:href="@{/monitor/pdf/{id}(id=${monitor.id})}"
				   style="color:white;">Ver pdf</a></td>

			<td><a class="w3-button w3-round w3-medium w3-pale-blue w3-text-black w3-hover-blue" th:href="@{/monitor/update/{id}(id=${monitor.id})}"
	                                                          style="color:white;">Editar</a></td>
	        
	    </tr>
	    </tbody>
	</table>
	<a class="w3-button w3-round w3-medium w3-pale-green w3-text-black w3-hover-green w3-margin-bottom" href="/administrador/lobby" style="color:white;">Volver</a>
</div>
</body>
</html>