<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     
</head>
<style>
p{
	color: orange;
}

</style>

<body>

<div th:replace="/common/navbar" >...</div>
<div class="w3-container" style="min-height:150px;">
	<div class="w3-container w3-padding-64" id="projects">
    	<h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center w3-wide">Bienvenido</h1> 	    
   	</div>
	
	<div class="row w3-margin-left w3-margin-right">
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/monitor/perfil/">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Perfil </h4>
						<p>Modifica o actualiza tu perfil</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/cliente/list">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Nueva actividad</h4>
						<p>Crear nueva actividad</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/actividad/listActividades">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Actividades </h4>
						<p>Consulta tus actividades</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="w3-container w3-padding-32" style="min-height:150px;">
	<div class="row w3-margin-left w3-margin-right">
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none"  th:href="@{/monitor/list?pen=1} ">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Consultar pagos </h4>
						<p>Consultar pagos de tus actividades realizadas</p>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</div>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center w3-wide">Monitor</h1> 	    
		<p>Acaba de entrar como monitor, aquí puede hacer: </p>
	    <p> - Sol·licitar el registre com a monitors i fer accessible (o adjuntar) la documentació que certifique les seues capacitats. El servidor de correu els envia un e-mail amb el seu usuari i pwd si s’accepta la seua sol·licitud. </p>	
		<p> - Accedir com a monitors en la plataforma i actualitzar el seu perfil per a incloure foto o dades relacionades en la seua activitat.  </p>	
		<p>	- Crear activitats per a les que estan qualificats i modificar o anul·lar les creades. S’ha de avaluar i proposar què fer si es cancel·la una activitat per a la qual ja hi ha reserves de clients.</p>	
		<p>	- Rebre i consultar la informació detallada de les seues reserves de clients. </p>	
		<p>	- Acceptar les reserves de clients per a una activitat. Tancar una activitat a noves reserves si, per exemple, ja està completa. Cancel·lar una activitat per motius diversos, com per exemple l’oratge o malaltia. </p>
		<p>	- Consultar reserves per tipus i data i imports cobrats per les activitats confirmades. Els monitors cobren un 95% de l'import que es factura per una activitat.  </p>	
	  </div>
	</div>

<!--  
//NUEVO IVAN

<div class="container" style="min-height:150px;">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a th:href="@{/reserva/list/{email}(email=${session.user.email})}">Gestionar Reservas</a></h4>
						<p class="description" th:text="${'Consultar la informació detallada de les seues reserves de clients y Acceptar les reserves de clients per a una activitat. Tancar una activitat a noves reserves si, per exemple, ja està completa. Cancel·lar una activitat per motius diversos, com per exemple l’oratge o malaltia.'}"></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-5">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="/actividad/listActividades">Gestionar Actividades</a></h4>
						<p class="description" th:text="${'Crear activitats per a les que estan qualificats i modificar o anul·lar les creades. S’ha de avaluar i proposar què fer si es cancel·la una activitat per a la qual ja hi ha reserves de clients.'}"></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a th:href="@{/reserva/list/{email}(email=${session.user.email})}">Cosultar Reserves Asignadas</a></h4>
						<p class="description" th:text="${'Consultar reserves per tipus, data e imports cobrats per les activitats confirmades.'}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="min-height:150px;">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a th:href="@{/monitor/update/{email}(email=${session.user.email})}">Gestión Datos Personales</a></h4>
						<p class="description" th:text="${' actualitzar el seu perfil per a incloure foto o dades relacionades en la seua activitat.'}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>	
-->	
	
</body>

</html>