<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<div th:replace="/common/navbar" >...</div>
	<div class="jumbotron jumbotron-fluid">
	 <div class="container">
	    <h1>Monitor</h1>      
	    <p>Acaba de entrar como monitor, aquí puede hacer: </p>
	    <p> - Sol·licitar el registre com a monitors i fer accessible (o adjuntar) la documentació que certifique les seues capacitats. El servidor de correu els envia un e-mail amb el seu usuari i pwd si s’accepta la seua sol·licitud. </p>	
		<p> - Accedir com a monitors en la plataforma i actualitzar el seu perfil per a incloure foto o dades relacionades en la seua activitat.  </p>	
		<p>	- Crear activitats per a les que estan qualificats i modificar o anul·lar les creades. S’ha de avaluar i proposar què fer si es cancel·la una activitat per a la qual ja hi ha reserves de clients.</p>	
		<p>	- Rebre i consultar la informació detallada de les seues reserves de clients. </p>	
		<p>	- Acceptar les reserves de clients per a una activitat. Tancar una activitat a noves reserves si, per exemple, ja està completa. Cancel·lar una activitat per motius diversos, com per exemple l’oratge o malaltia. </p>
		<p>	- Consultar reserves per tipus i data i imports cobrats per les activitats confirmades. Els monitors cobren un 95% de l'import que es factura per una activitat.  </p>	
	  </div>
	</div>
</body>

</html>