<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pdf</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="/common/navbar" >...</div>
<div class="container">
	<embed th:src="@{/pdfs/{id} (id=${monitor.id})}" width="100%" height="600px" type="application/pdf">
    <div th:if="${monitor.estado == 'pendiente'}">
        <form action="#" th:action="@{/monitor/update/{id}(id=${monitor.id})}"
              th:object="${monitor}" method="post">
            <input type="hidden" th:value="${monitor.id}" th:field="*{id}" />
            <input type="hidden" th:value="${monitor.nombre}" th:field="*{nombre}" />
            <input type="hidden" th:value="${monitor.email}" th:field="*{email}" />
            <input type="hidden" th:value="${monitor.iban}" th:field="*{iban}" />
            <input type="hidden" th:value="${monitor.domicilio}" th:field="*{domicilio}" />
            <input type="submit" th:name="action" th:value="'aceptada'" th:field="*{estado}" class="btn btn-success"
                   style="color:white;" />
            <input type="submit" th:name="action" th:value="'rechazada'" th:field="*{estado}" class="btn btn-danger"
                   style="color:white;" />
            <a class="btn btn-warning" th:href="@{/monitor/list?pen=1}"
               style="color:white;">Volver</a>
        </form>
    </div>
    <a th:unless="${monitor.estado == 'pendiente'}" class="btn btn-warning" th:href="@{/monitor/list}" style="color:white;" th:text="Volver" /></a>
</div>
</body>
</html>