<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="${'Pagina de ' + actividad.nombre}"></title>
</head>
<body>

<div th:replace="/common/navbar" >...</div>
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small" style="margin-left:12%; margin-top:4%">
        <img th:src="${imgurl}" class="w3-round w3-image" width="1200" height="750">

        <h4><b th:text="${'¿Preparado para realizar ' + actividad.nombre + ' en '+ actividad.lugar +'?'}"></b></h4>

        <p th:text="${actividad.descripcion}"></p>

        <p> Precio por persona: <b th:text="${actividad.precio + 'E iva incluido.'}"></b></p>


    </div>

    <div class="w3-col m4 w3-padding-small" style="position: sticky;top: 0;">
        <div class="w3-card-4 w3-fixed" style="margin-top: 15%">
            <header class="w3-container">
                <h5 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-wide w3-center">Elige tu experiencia</h5>
            </header>

            <div class="w3-container">
                <label class="w3-margin-top w3-wide">Fecha</label>
                <input type="text" th:value="${actividad.fecha + ' a las ' + actividad.horaEncuentro}"  class="form-control input_user w3-input w3-section w3-border" readonly>

            </div>

            <div class="w3-container">
                <label class="w3-margin-top w3-wide" >Duración</label>
                <input type="text" th:value="${actividad.duracionDias + ' horassss'}" class="form-control input_pass w3-input w3-section w3-border" readonly>
            </div>

            <div class="w3-container">
                <label class="w3-margin-top w3-wide" >Encuentro</label>
                <input type="text" th:value="${'Punto de encuentro en ' + actividad.puntoEncuentro + ' a las ' + actividad.horaEncuentro}" class="form-control input_pass w3-input w3-section w3-border" readonly>
            </div>

            <form action="#" th:action="@{/reserva/add}"
                  th:object="${reserva}" method="post" enctype="multipart/form-data">

                <div class="w3-container">
                    <label class="w3-margin-top w3-wide" >Asistentes</label>
                    <input th:type="number" min=1 th:max="${actividad.maxAsistentes}" th:field="*{numAsistentes}" class="form-control input_pass w3-input w3-section w3-border" value=1 required>
                </div>


                <div class="w3-container">
                  <!--   <a>Id reserva</a> -->
                    <input th:type="hidden" th:field="*{id_reserva}" class="form-control input_pass w3-input w3-section w3-border" placeholder="Cambiar a serial" required>
                </div>

                <div class="w3-container">
                    <a>Num transacción</a>
                    <input th:type="number" th:field="*{numTransacciones}" class="form-control input_pass w3-input w3-section w3-border" placeholder="Lo envio la plataforma de pago" required>
                </div>

                <div class="w3-container">
                    <input th:type="hidden" id="precioPersona" name="precioPersona" class="form-control input_pass w3-input w3-section w3-border" th:value="${actividad.precio}" >
                </div>

                <div class="w3-container">
                    <input th:type="hidden" id="id_actividad" name="id_actividad" class="form-control input_pass w3-input w3-section w3-border" th:value="${actividad.id_actividad}">
                </div>


                <div th:if="${session.user!=null and session.user.getTipoUsuario()!='admin'}" class="w3-container" style="margin-top: 6%">
                    <input type="submit"  value="Reservar" th:href="@{/reserva/add}"
                           class="w3-button w3-block w3-light-grey w3-margin-bottom w3-wide w3-padding-large">
                </div>
            </form>
            <div th:if="${session.user==null}" class="w3-container" style="margin-top: 6%">
                <a th:href="@{/login}"
                   class="w3-button w3-block w3-pale-green w3-hover-green w3-wide w3-padding-large">Reservar</a>
            </div>
            
            <div class="w3-container" style="margin-top: 6%">
                <a href="javascript:history.back()" class="w3-button w3-block w3-grey w3-hover-light-grey  w3-margin-bottom w3-wide w3-padding-large"> Volver </a>
            </div>
            
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16 " style="width: 100%;">
    <p>Powered by Universistat Jaume I</p>
</footer>


</body>
</html>