<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actividad</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<div th:replace="/common/navbar" >...</div>

        
        <div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Nombre</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.nombre}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Descripcion</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.descripcion}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Estado</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.estado}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Fecha</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.fecha}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Hora</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.horaEncuentro}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Dias</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.duracionDias}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Lugar</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.lugar}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Asistentes mínimos</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.minAsistentes}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex justify-content-center text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Asistentes máximos</label>
	        <div class="col-sm-4 text-left">
	        	<label class="col-form-label" th:text="${actividad.maxAsistentes}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3 d-flex text-center">
         	<div class="col-sm-3"></div>
	        <label class="col-sm-2 col-form-label text-left">Precio (€)</label>
	        <div class="col-sm-4 text-left ">
	        	<label class="col-form-label" th:text="${actividad.precio}"></label>
	        </div>
	        <div class="col-sm-3"></div>
		</div>
		
		<div class="input-group mb-3">
        	<div class="col-sm-3"></div>
        	<a class=" btn btn-danger col-sm-1" href="/actividad/list"> Volver </a>
        	<div class="col-sm-4"></div>
        	<a th:if="${session.user!=null}"class="btn btn-success col-sm-1" th:href="@{/reserva/add}"
                                                          style="color:white;">Reservar</a></td>
        <a th:if="${session.user==null}" class="btn btn-success col-sm-1" th:href="@{/login}"
                                                          style="color:white;">Reservar</a></td>
        	
        </div>
	
</body>

</html>