<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>>

<body>

<!-- Navbar (sit on top) -->
<div th:replace="/common/navbar" >...</div>
<div th:if="${#lists.isEmpty(actividades)}">
    No hay actividades disponibles en estos momentos.
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <div class="container">
        <div class="w3-container w3-padding-32" id="projects">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" th:text="${'Actividades de ' + tipo}"></h3>
        </div>
    </div>

    <!-- ZONA 1 -->
    <div th:unless="${#lists.isEmpty(actividades)}" class="container">
        <div th:each="actividad : ${actividades}" class="container">
            <div th:each="imagen : ${imagenes}" class="container">

                <div th:if="${imagen.id_actividad == actividad.id_actividad}" class="w3-row-padding w3-card-4 w3-margin-bottom">
                    <div class="w3-col l3 m6 w3-margin-bottom w3-margin-top">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft w3-black w3-padding" th:text="${tipo}"></div>
                            <img th:src="${imagen.url}" alt="House" style="width:100%">
                        </div>
                    </div>

                    <div class="w3-col l9 m6 w3-margin-top">
                        <div class="w3-display-container">
                            <p> Aqui puedes poner una ligera descripcion de lo que se va
                                a hacer en la actividad de paracaidismo sin ningun problema </p>
                        </div>
                    </div>

                    <div class="w3-col l12 m6">
                        <div class="w3-display-container ">
                            <div class="w3-display-bottomright w3-margin-bottom">
                                <a class="w3-button w3-pale-green w3-hover-green w3-xlarge"
                                        th:href="@{/actividad/actividadinfo/{id}(id=${actividad.id_actividad})}" th:text="${'Ver mas'}"></a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>