<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>BR</b> Architects</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
    
  <div class="container">
     <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Actividades</h3>
     </div>   
  </div>        

  <!-- ZONA 1 -->    
  <div class="container">
      <div class="w3-row-padding w3-card-4 w3-margin-bottom">

            <div class="w3-col l3 m6 w3-margin-bottom w3-margin-top">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Caida libre</div>
                    <img src="/imagenes/toopots2.jpg" alt="House" style="width:100%">
                </div>
            </div>    

            <div class="w3-col l9 m6 w3-margin-top">
              <div class="w3-display-container">
                <p> Aqui puedes poner una ligera descripcion de lo que se va 
                            a hacer en la actividad de paracaidismo sin ningun problema </p>                                                                         
              </div>
            </div>
            
            <div class="w3-col l12 m6">
              <div class="w3-display-container ">
                <div class="w3-display-bottomright w3-margin-bottom">
                <button class="w3-button w3-pale-green w3-hover-green w3-xlarge">Ver más</button>

                </div>
            </div>
        </div>
  </div>
      
  </div>
  
  <!-- ZONA 2 -->    

  <div class="container">
      <div class="w3-row-padding w3-card-4 w3-margin-bottom">

            <div class="w3-col l3 m6 w3-margin-bottom w3-margin-top">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Snowboard</div>
                    <img src="/imagenes/toopots3.jpg" alt="House" style="width:100%">
                </div>
            </div>    

            <div class="w3-col l9 m6 w3-margin-top">
              <div class="w3-display-container">
                <p> Aqui puedes poner una ligera descripcion de lo que se va 
                            a hacer en la actividad de paracaidismo sin ningun problema </p>                                                                         
              </div>
            </div>
            
            <div class="w3-col l12 m6">
              <div class="w3-display-container ">
                <div class="w3-display-bottomright w3-margin-bottom">
                <button class="w3-button w3-pale-green w3-hover-green w3-xlarge">Ver más</button>

                </div>
            </div>
        </div>
  </div>
      
  </div>

  
    <!-- ZONA 3 -->    

  <div class="container">
      <div class="w3-row-padding w3-card-4 w3-margin-bottom">

            <div class="w3-col l3 m6 w3-margin-bottom w3-margin-top">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Rafting</div>
                    <img src="/imagenes/toopots1.jpg" alt="House" style="width:100%">
                </div>
            </div>    

            <div class="w3-col l9 m6 w3-margin-top">
              <div class="w3-display-container">
                <p> Aqui puedes poner una ligera descripcion de lo que se va 
                            a hacer en la actividad de paracaidismo sin ningun problema </p>                                                                         
              </div>
            </div>
            
            <div class="w3-col l12 m6">
              <div class="w3-display-container ">
                <div class="w3-display-bottomright w3-margin-bottom">
                <button class="w3-button w3-pale-green w3-hover-green w3-xlarge">Ver más</button>

                </div>
            </div>
        </div>
      </div>
      
  </div>

    <!-- ZONA 4 -->   
  <div class="container">
      <div class="w3-row-padding w3-card-4 w3-margin-bottom">

            <div class="w3-col l3 m6 w3-margin-bottom w3-margin-top">
              <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Paracaidismo</div>
                    <img src="/imagenes/toopots4.jpg" alt="House" style="width:100%">
                </div>
            </div>    

            <div class="w3-col l9 m6 w3-margin-top">
              <div class="w3-display-container">
                <p> Aqui puedes poner una ligera descripcion de lo que se va 
                            a hacer en la actividad de paracaidismo sin ningun problema </p>                                                                         
              </div>
            </div>
            
            <div class="w3-col l12 m6">
              <div class="w3-display-container ">
                <div class="w3-display-bottomright w3-margin-bottom">
                <button class="w3-button w3-pale-green w3-hover-green w3-xlarge ">Ver más</button>

                </div>
            </div>
        </div>
  </div>
      
  </div>
  
  
<!-- End page content -->
</div>


</body>
</html>






