<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Modifica la Actividad</title>
	<meta charset="UTF-8" />
 	<link rel="stylesheet"
	          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="/common/navbar" >...</div>
<div class="container">
		
	<form action="#" th:action="@{/actividad/update/{id}(id=${actividad.id_actividad})}"
		      th:object="${actividad}" method="post">
	
		<div class="w3-container">
		        <h2 class="w3-border-bottom w3-border-light-grey w3-padding-64 w3-margin-top">Modificar actividad</h2>
		    </div>
		
		    <div class="w3-container" hidden="hidden">
		        <label for="dni">ID_Actividad</label>
		        <input class="w3-input w3-section w3-border" type="number" th:field="*{id_actividad}" required>
		
		    </div>
		
		    <div class="w3-container">
		        <label for="nombre">Nombre</label>
		        <input class="w3-input w3-section w3-border" type="text" th:field="*{nombre}" maxlength="25" required>
		
		    </div>
		
		    <div class="w3-container">
		        <label for="adr">Descripción</label>
		        <input class="w3-input w3-section w3-border" type="text" th:field="*{descripcion}" maxlength="200" required>
		
		    </div>
		
		    <div class="w3-container">
		        <label for="city">Duración dias</label>
		        <input class="w3-input w3-section w3-border" type="number" th:field="*{duracionDias}" required>
		    </div>
		
		
		    <div id="calendar" class="w3-container">
		        <label for="city">Fecha</label>
		        <input class="w3-input w3-section w3-border" type="date" th:field="*{fecha}" maxlength="50" required>
		    </div>
		
		    <div class="w3-container">
		        <label for="city">Punto Encuentro</label>
		        <input class="w3-input w3-section w3-border" type="text" th:field="*{puntoEncuentro}" maxlength="60" required>
		    </div>
		    
		    <div class="w3-container">
		        <label for="city">Lugar</label>
		        <input class="w3-input w3-section w3-border" type="text" th:field="*{lugar}" maxlength="60" required>
		    </div>
		    
		    <div class="w3-container">
		        <label for="city">Texto para el cliente</label>
		        <input class="w3-input w3-section w3-border" type="text" th:field="*{textoCliente}" maxlength="60" required>
		    </div>
		    
		    <div class="w3-container">
		        <label for="city">Hora encuentro</label>
		        <input class="w3-input w3-section w3-border" type="time" th:field="*{horaEncuentro}" maxlength="60" required>
		    </div>
		    
		    <div class="w3-container">
		        <label for="city">Minimo Asistentes</label>
		        <input class="w3-input w3-section w3-border" type="number" th:field="*{minAsistentes}" required>
		    </div>
		    
		    <div class="w3-container">
		        <label for="city">Máximo Asistentes</label>
		        <input class="w3-input w3-section w3-border" type="number" th:field="*{maxAsistentes}" required>
		    </div>
		    
		    <div class="w3-container" hidden="hidden">
		        <label for="city">ID_Tipo Actividad</label>
		        <input class="w3-input w3-section w3-border" type="number" th:field="*{id_tipoActividad}" required>
		    </div>
		    
		    <div class="w3-container" hidden="hidden">
		        <label for="city">Estado</label>
		        <input class="w3-input w3-section w3-border" type="text" th:field="*{estado}" required>
		    </div>
		    
		
		    <div class="w3-container">
		        <input type="submit" class=" w3-btn w3-pale-green w3-margin-top w3-margin-bottom w3-margin-right w3-hover-green" value="Modificar actividad"/>
		        <a href="javascript:history.back()" class="w3-btn w3-pale-red w3-margin-top w3-margin-bottom w3-text-black w3-hover-red" > Volver</a>   
		    </div>
		   
		</form>
	</div>
</body>
</html>