<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añade una certificacion</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<div th:replace="/common/navbar">...</div>
 
  <form action="#" th:action="@{/certificacionMonitor/add/{id}(id=${id_tipoActividad})}"
          th:object="${certificacionMonitor}" method="post" enctype="multipart/form-data">
       
         
      <div class="container ">
           
           <div class="w3-container">
               <h1 class="w3-border-bottom w3-border-light-grey w3-padding-64 w3-margin-top">Añade el pdf de la certificación para su posterior evaluación</h1>
            </div>
                    
            <div class="w3-container w3-margin-top">
                <!-- <label class="w3-cell w3-margin-right">Id Certificacion</label> -->
                <input class="w3-input w3-section w3-border" type="hidden" th:field="*{id_certificacion}" maxlength="60" placeholder="Avenida xxxxx" required>
            </div>


            <div class="w3-container w3-margin-top">
                <label class="w3-cell w3-margin-right">Curriculum Vitae</label>
                <div class="w3-cell w3-margin-left ">
                    <input class="w3-margin-left" type="file" name="file" id="file" required>
                </div>
            </div>
            
           

            <div class="w3-container w3-margin-top">
                <input type="submit" class=" w3-button w3-pale-green w3-hover-green w3-margin-top w3-margin-bottom w3-margin-right" value="Añadir certificacion"/>
                <a href="/tipoActividad/listMonitor" class="w3-button w3-pale-red w3-hover-red w3-margin-top w3-margin-bottom w3-text-black"> Volver</a>                
            </div>
            
    </div>
</form>
</body>            
</html>
