<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>
<body>
	<div th:replace="/common/navbar" >...</div>
	
	<div class="container">
	
		<div class="w3-container">
	        <h1 class="w3-border-bottom w3-border-light-grey w3-padding-64 w3-padding-1 w3-margin-top">Perfecto!</h1>
	        
	        <div class="w3-panel w3-pale-green w3-border ">
	        
		  		<div class="w3-container">
		        	<h2 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-margin-top">Certificado Enviado</h2>
		            <p>Su certificado está listo para ser evaluado, en menos de 24h se confirmará su validez vía email, muchas gracias! </p>
		            <a href="/" class="w3-button w3-round w3-medium w3-green w3-text-white w3-hover-green w3-margin-bottom w3-margin-top"> Pagina principal </a>
		            <a href="/tipoActividad/listMonitor" class="w3-button w3-round w3-medium w3-green w3-text-white w3-hover-green w3-margin-bottom w3-margin-top"> Añadir otro certificado</a>	  
		    	</div>
		    	
			</div>
	    </div>
	    
	    
	</div>
	
</body>
</html>