<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añade un cliente</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<div th:replace="/common/navbar">...</div>
 
  <form action="#" th:action="@{/cliente/add}"
          th:object="${cliente}" method="post" enctype="multipart/form-data">
      <div class="container ">
            <div class="w3-container">
                <h2 class="w3-border-bottom w3-border-light-grey w3-padding-64 w3-margin-top">Nuevo cliente</h2>
            </div>

            <div class="w3-container">
                <label for="dni">DNI</label>
                <input class="w3-input w3-section w3-border" type="text" th:field="*{dni}" minlength="9" maxlength="9"  placeholder="645362728H" required>

            </div>

            <div class="w3-container">
                <label for="nombre">Nombre</label>
                <input class="w3-input w3-section w3-border" type="text" th:field="*{nombre}" maxlength="25" placeholder="John M. Doe" required>

            </div>

            <div class="w3-container">
                <label for="adr">Email</label>
                <input class="w3-input w3-section w3-border"  type="email" th:field="*{email}" placeholder="john@gmail.com" required>

            </div>

            <div class="w3-container">
                <label for="city">Fecha de nacimiento</label>
                <input class="w3-input w3-section w3-border"  type="date" th:field="*{strFechaNacimiento}"  required>
            </div>
            
            <div class="w3-container w3-margin-bottom">
                <label >Genero</label>
                <select class="form-control w3-margin-top" th:field="*{sexo}" required>
		                <option th:value="'M'" th:text="Hombre"></option>
		                <option th:value="'F'" th:text="Mujer"></option>
		        </select>
            </div>

            <div class="w3-container">
                <label for="city">Contraseña</label>
                <input class="w3-input w3-section w3-border" type="password" th:field="*{passwd}" required>
            </div>

            <div class="w3-container">
                <input type="submit" class=" w3-btn w3-pale-green w3-hover-green w3-margin-top w3-margin-bottom w3-margin-right" value="Añadir cliente"/>
                <a href="../login" class="w3-btn w3-light-grey w3-hover-grey w3-margin-top w3-margin-bottom w3-text-black"> Volver</a>
        
            </div>
            
    </div>
</form>
</body>            
</html>