<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
p{
	color: orange;
}

</style>
<body>
<div th:replace="/common/navbar" >...</div>

<div class="w3-container" style="min-height:150px;">
	<div class="w3-container w3-padding-64" id="projects">
    	<h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center w3-wide" th>Bienvenido</h1> 
   	</div>

	<div class="row w3-margin-left w3-margin-right">
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/actividad/actividades">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Consultar Oferta de actividades </h4>
						<p class="description" th:text="${'Tenemos un sinfin de actividades. Echa un vistazo'}"></p>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/reservaClienteActividad/listCliente">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Gestion Reservas</h4>
						<p class="description" th:text="${'En esta sección puedes consultar y gestionar tus reservas.'}"></p>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</div>





</body>

</html>