<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
p{
	color: orange;
}

</style>
<body>
<div th:replace="/common/navbar" >...</div>
<!-- Creando la cabecera --> 
<header class="w3-display-container w3-content w3-wide" style="max-width:1900px;" id="home">
  <img class="w3-image w3-grayscale-min" src="/images/toopots3.jpg" width="1500" height="600">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-jumbo w3-text-white w3-margin-bottom"> <b>Bienvenido</b> </h1>
  </div>
  <div class="w3-display-left" style="margin-top: 18%; margin-left: 11%">
		<div class="col-sm-8">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/actividad/actividades">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Consultar Oferta de actividades </h4>
						<p class="description" th:text="${'Tenemos un sinfin de actividades. Echa un vistazo'}"></p>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div class="w3-display-right" style="margin-top: 18%;margin-left: 62%">
		<div class="col-sm-8">
				<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
					<a style="text-decoration:none" href="/reservaClienteActividad/listCliente">
						<div class="card-body w3-hover-opacity w3-hover-light-grey" >
							<h4 class="card-title"> Gestion Reservas</h4>
							<p class="description" th:text="${'En esta sección puedes consultar y gestionar tus reservas.'}"></p>
						</div>
					</a>
				</div>
		</div>
	</div>
  
</header>
<!--  
<div class="w3-container" style="min-height:150px;">
	<div class="row w3-margin-left w3-margin-right">
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/actividad/actividades">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Consultar Oferta de actividades </h4>
						<p class="description" th:text="${'Tenemos un sinfin de actividades. Echa un vistazo'}"></p>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="w3-card-4 w3-dark-gray w3-hover-opacity w3-hover-light-grey">
				<a style="text-decoration:none" href="/reservaClienteActividad/listCliente">
					<div class="card-body w3-hover-opacity w3-hover-light-grey" >
						<h4 class="card-title"> Gestion Reservas</h4>
						<p class="description" th:text="${'En esta sección puedes consultar y gestionar tus reservas.'}"></p>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</div>

-->



</body>

</html>