<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="/common/navbar" >...</div>
	<h1> Cliente lobby </h1>
	<div class="container" style="min-height:150px;">
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">
						<a href="/actividad/list">Lista Actividades</a></h4>
					<p class="description" th:text="${'Actividades que ofrecemos, aquí puedes encontrar la actividad que te interese y apunterte a ella reservando plaza.'}"></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-5">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">
						<a th:href="@{/cliente/reservas/{email}(email=${session.user.email})}">Gestionar reservas</a></h4>
					<p class="description" th:text="${'Pincha aquí para poder consultar y realizar cambios en tus revervas.'}"></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">
						<a th:href="@{/cliente/{email}(email=${session.user.email})}">Datos personales</a></h4>
					<p class="description" th:text="${'Aquí podrás consultár, gestionar y modificar tus datos.'}"></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>