<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añade un tipo de actividad</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<div th:replace="/common/navbar">...</div>
 
  <form action="#" th:action="@{/tipoActividad/add}"
          th:object="${tipoActividad}" method="post" enctype="multipart/form-data">
          
      <div class="container ">
            <div class="w3-container">
                <h2 class="w3-border-bottom w3-border-light-grey w3-padding-64 w3-margin-top">Nuevo Tipo de Actividad</h2>
            </div>


			<div class="w3-container">
                <!--  <label for="nombre">Id_tipoActividad</label>-->
                <input class="w3-input w3-section w3-border" type="hidden" th:field="*{id}" required>

            </div>

            <div class="w3-container">
                <label for="nombre">Nombre</label>
                <input class="w3-input w3-section w3-border" type="text" th:field="*{nombre}" maxlength="25" placeholder="Riesgo" required>

            </div>

           
            <div class="w3-container">
	            <label for="city">Nivel</label>
		        <select class="custom-select w3-margin-bottom w3-margin-top" name="tipo" th:field="*{nivel}"  >
					<option value="----- Elige el nivel -----" selected="selected" disabled="disabled">----- Elige el nivel -----</option >
					<option value="extremo" >Extremo</option>
					<option value="alto" >Alto</option>
					<option value="medio" >Medio</option>
					<option value="bajo" >Bajo</option>
					
				</select>
	    	</div>


            <div class="w3-container">
                <input type="submit" class=" w3-btn w3-pale-green w3-hover-green w3-margin-top w3-margin-bottom w3-margin-right" value="Añadir nuevo tipo"/>
                <a href="javascript:history.back()" class="w3-btn w3-black w3-hover-grey w3-margin-top w3-margin-bottom"> Volver</a>
                
        
            </div>
            
    </div>
</form>
</body>            
</html>
