<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica una Preferencia</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar preferencia</h2>
<form action="#" th:action="@{/certificacionestipoactividad/update/{id}(id=${certificacionActividad.id_tipoActividad})}"
      th:object="${certificacionActividad}" method="post">
    <table>
        <tr>
            <td><label>ID_certificacion</label></td>
            <td><input type="number" th:field="*{id_certificacion}" maxlength="10"/></td>
        </tr>
        <tr>
            <td><label>ID_tipoActividad</label></td>
            <td><input type="number" th:field="*{id_tipoActividad}" maxlength="60"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifica certificacion de la actividad" /></td>
        </tr>
    </table>
</form>
</body>
</html>


